<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSCameraUsageDescription</key>
<string>We need access to your camera to take photos to update your avatar.</string>

<key>NSPhotoLibraryUsageDescription</key>
<string>We need access to your photo library to select photos to update your avatar.</string>

<key>NSPhotoLibraryAddUsageDescription</key>
<string>We need permission to save photos to your library when updating your avatar.</string>
</dict>
</plist>
